* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    :root {
        --main-color:#10cab7;
        --section-color:#777
    }
    
    body {
        font-family:  "work sans ", sans-serif;
       
        margin: 0;
        background-color: #f6f6f6;
       
    }
    
    
    .container {
        margin-left: auto;
        margin-right: auto;

        padding-left: 15px;     /* for mobile */
        padding-right: 15px;
        
        
    }
    @media (max-width:767px) {
        .service-content {
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
            gap: 44px;
            padding: 10px;
        }
        .service-content .col .img {
            position: relative;
            text-align: center;
            display: none;
        }
        
            .service-content .srv {
                flex-direction: column;
                text-align: center;
            }
        
      .sevices .container {
        margin: 42px;
      }
      .sevices .container .text-heading {
        font-size: 64px;
    }
    .sevices .container p {
        margin: 0px 0 0;
        font-size: 16px;
       
    }
    .service-content .col .img img {
        height: 220px;
        width: 279px;
        }
        .portfolio-content .card {
            padding: 20px;
        }
    }

    @media (min-width:768px) {
        
        .container {
            width: 750px;
            
        }
      
        .sevices .container .text-heading {
            font-size: 100px;
        }
        .sevices .container p {
            
            font-size: 20px;
            
        }
        .service-content .col .img img {
            height: 480px;
            width: 206px;
            }
            .service-content {
                /* display: grid;
                grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
                gap: 44px; */
                margin: 100px;
                padding: 10px 12px 10px 71px;
                
            }
    }
    @media (min-width:992px) {
        .container {
            width: 970px;
        }
        .sevices .container p {
            
            font-size: 20px;
            
        }

        .sevices .container .text-heading {
            font-size: 100px;
        }
        .service-content .col .img img {
            height: 480px;
            width: 206px;
            }
            .service-content {
                /* display: grid;
                grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
                gap: 44px; */
                margin: 100px;
                padding: 10px 12px 10px 71px;
            }
        
    }
    @media (min-width:1200px) {
        .container {
            width: 1170px;
        }
        .sevices .container .text-heading {
            font-size: 100px;
        }
        .sevices .container p {
            
            font-size: 20px;
            
        }
        .service-content .col .img img {
            height: 480px;
            width: 206px;
            }
            .service-content {
                /* display: grid;
                grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
                gap: 44px; */
                margin: 100px;
                padding: 10px 12px 10px 71px;
            }
    }

    .header {
        padding: 2px;
        position: sticky;
        background-color: #f6f6f6;
        top: 0;
        z-index: 100;
    }

    .header .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

    }
    .header .container img {
        width: 45px;
        border-style: none;
    }
    .header  .link {
        position: relative;
    }
    .header  .link:hover ul {
        display: block;
    }
   
    .header  .link:hover .icon span:nth-child(2) {
        width: 100%;
        height: 3px;
        transition: 0.3s;
    }
    .header .link .icon {
        width: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        transform: translate(0px, 7px);
    }

    .header .link .icon span {
        background-color: black;
        margin-bottom: 5px;

    }
    .header  .link .icon span:first-child {
        width: 100%;
        height: 3px;
    }
    .header  .link .icon span:nth-child(2) {
        width: 60%;
        height: 3px;
    }
    .header  .link .icon span:last-child {
        width: 100%;
        height: 3px;
    }
   
    .header .link ul {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: lightgray;
        position: absolute;
        right: 0;
        min-width: 200px;
        top: calc( 100% + 3px );
        display: none;
        z-index: 100;
    }
 
    .header .link ul::before {
        content: "";
        border-width: 13px;
        border-style: solid;
        border-color: transparent transparent #d3d3d3c2 transparent;
        right: 0px;
        top: -26px;
        position: absolute;
    }
.header .link ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
     
}
.header .link ul li a:hover {
    padding-left: 25px;
}
.header .link ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

.section {
    background-image: url(../photo/q1.jpg);
background-size: cover;
height: calc(100vh - 64px);
position: relative;
box-shadow: 0px 3px 20px 0px #6a6868;
}



.section .text-intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    FONT-SIZE: 18px;
    line-height: 1.8;
    text-align: center;
}

.section .text-intro h1 {
    margin: 0;
    color: var(--main-color);
}
.section .text-intro p {
    max-width: 173px;
}



.feature {
    padding-top: 110px;
    padding-bottom: 110px;
    background-color: #f6f6f6;
}
.feature .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
}
.feature .container .feat {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 21px;
    background-color: #a9a9a90f;
}
.feature .container .feat:hover {
    box-shadow: 0px 0px 6px 0px #80808040;
}
.feature .feat i {
    color: var(--main-color);
    font-size: 80px;
}
    .sevices .container .text-heading {
        color: #ebeced;
       
        text-align: center;
        font-weight: 800;
        letter-spacing: -3px;
        margin: 0;
    }

    .sevices .container p {
        
        text-align: center;
        color: #797979;

    }



    



    .service-content {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
        gap: 44px;
       
    }
    .service-content .srv {
        display: flex;
        margin-bottom: 40px;

    }
   
    .service-content .srv i {
        color: var(--main-color);
        flex-basis: 60px;
        font-size: xx-large;
    }
    .service-content .srv .text {
        flex: 1;
    }
    .service-content .srv .text h3 {
        margin: 0;
    }
    .service-content .srv .text p {
        color: #444;
        font-weight: 300;
        line-height: 1.6;
    }
    .service-content .col .img  {
        position: relative;
        text-align: center;
    }
 .service-content .col .img::before {
        content: "";
        background-color: gray;
        width: 100px;
        height: calc(100% + 100px) ;
        position: absolute;
        right: 0;
        top: -50px;
        z-index: -1;
    }
    .service-content .col .img img {
    height: 480px;
    width: 206px;
    }
    .portfolio-content {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
        grid-template-rows: auto;
        gap: 96px 120px;
        margin-top: 174px;
    }
    .portfolio-content .card img {
        max-width: 100%;
    }
    .portfolio-content .text {
        padding: 20px;
    }
    .portfolio-content .text h3 {
        margin: 0;
    }
    .portfolio-content .text p {
        margin-bottom: 0;
    }
    .portfolio-content .card .img img{
        width: 100%;
    }
    
    .portfolio-content .card {
        display: flex;
        flex-flow: column wrap;
    }
    .portfolio-content .card .img img {
        width: 100%;
        height: 100%;
    }
    .portfolio-content .card .img {
        flex-grow: 1;
    }
    .section-padding {
        background-color: #10cab7c2;
        padding: 30px;
    }




    